#ui {
  border: 2.5px dashed rgba(0, 0, 0, 0.6);
}

#ui button {
  width: 75px;
}

#equation {
  font-size: 48px;
}

#max {
  width: 75%;
}

#options label, legend, #score p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6)
}

#max-value {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6)
}
